// Header.scss

// Import Bootstrap styles

// Your custom styles

header {
    transition: ease-in-out 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; // Ensure space between elements
    z-index: 997;
    overflow-y: auto;
}

.toggler-icon {
    background-color: red;
    color: var(--bs-white);

}

.container {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

.navbar-custom {
    font-family: "Open Sans", sans-serif;
    align-items: center;
    position: relative;
    color: var(--bs-white);
    display: flex;
    flex-direction: column;


    // .nav-item {
    //     color: var(--bs-white);
    //     display: flex;
    //     flex-direction: column;


    //     .nav-link {
    //         color: var(--bs-white);

    //         margin-bottom: 5px;
    //         padding: 0;
    //         border-color: #040404;
    //         border-top-color: #040404;
    //         border-right-color: #040404;
    //         border-left-color: #040404;
    //         transition: color 0.3s ease;

    //         &::before {
    //             content: "";
    //             position: absolute;
    //             bottom: 0px;
    //             left: 0;
    //             width: 0;
    //             height: 2px;
    //             background-color: var(--bs-green);
    //             transition: width 0.3s ease;
    //         }

    //         &:hover,
    //         &:focus {
    //             border-bottom-color: var(--bs-green);
    //             width: 70%;

    //             &::before {
    //                 border-bottom: 50%;
    //             }
    //         }

    //         &:active,
    //         &.active {
    //             color: var(--bs-white);

    //             border-bottom-color: var(--bs-green);
    //         }
    //     }
    // }
}


// Additional styling as needed...

.offcanvas {
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


.offcanvas ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

.offcanvas li {
    // margin-bottom: 10px;
    list-style: none;
}

.offcanvas a {
    text-decoration: none;
    color: var(--bs-white);
    list-style: none;
    letter-spacing: 2px;
}

// Responsive styles
@media (min-width: 768px) {
    .offcanvas {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }
    .offcanvas .offcanvas-start{
        display: none;
    }

  
    .social-link {
        order: 2;
    }

    ul.navbar-custom {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    ul.navbar-custom li {
        margin-bottom: 0;
        list-style: none;
        color: var(--bs-white);

    }
}


.offcanvas.show {
    background-color: rgba(14, 12, 12, 0.7);
    display: flex;
    // border: 5px solid black;
}
.icons{
    height: 50px;
    width: 30px;
}

.offcanvas .offcanvas-start {
    display: none;
}

.navbar-toggler {
    position: absolute;
    top: 3px; // Adjust the top distance as needed
    right: 10px; // Adjust the right distance as needed
   
    color: var(--bs-white);
    border: none; // Remove the border if not needed
    cursor: pointer;

   
}
